:root {
  /* Colors */
  --primary-bg-color: #3c4449;
  --secondary-bg-color:#353537;
  --text-color:#ffffff;
  --text-secondary-color: grey;
  --accent-color: #B0C753;
  --alt-accent-color:#E1D8A2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--primary-bg-color);
}

main {
  flex: 1 0 auto;
}

.page-footer {
  position: fixed;
  bottom: 0px;
  width:100%;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-top: 0;
  color: var(--text-secondary-color);
}

.card{
  background-color: var(--secondary-bg-color);
}

nav .brand-logo {
  left: 0pt !important;
  transform: none !important;
}

input {
  color: var(--text-color) !important;
}

.proxycfg {
  max-width: 800px;
}

#editModal {
  max-height:90%;
  height: 90%;
  top:5% !important;
}

.modal {
  background-color:var(--primary-bg-color);
}

.no-scrollbar::-webkit-scrollbar {
  display:none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-content {
  background-color:var(--primary-bg-color);
}

.modal-content .add-btn {
  position: fixed;
  right: 10px;
  bottom: 66px
}

.modal-content .modal-title {
  height: 25px;
  font-size: 1.3rem;
  margin-bottom:10px;
}

.modal-content .section-title {
  height: 25px;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.modal-content .row.input, .modal-content .input-field {
  margin-bottom:0px;
}

.modal-footer {
  background-color:var(--secondary-bg-color) !important;
}


.tabs, .tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: var(--primary-bg-color);
}

.tab-content {
  padding-top:80px;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: var(--alt-accent-color);
}

.tabs .tab a {
  color: var(--accent-color);
}

.tabs .indicator {
  background-color: var(--alt-accent-color)
}

#confirmModal {
  height: 20%;
  width: 40%;
}
#confirmModal .confirm-text {
  margin-top: 50px;
}