:root {
  /* Colors */
  --primary-bg-color: #3c4449;
  --secondary-bg-color:#353537;
  --text-color:#ffffff;
  --text-secondary-color: grey;
  --accent-color: #B0C753;
  --alt-accent-color:#E1D8A2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--primary-bg-color);
}

main {
  flex: 1 0 auto;
}

.page-footer {
  position: fixed;
  bottom: 0px;
  width:100%;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-top: 0;
  color: var(--text-secondary-color);
}

.card{
  background-color: var(--secondary-bg-color);
}

nav .brand-logo {
  left: 0pt !important;
  transform: none !important;
}

input {
  color: var(--text-color) !important;
}

.proxycfg {
  max-width: 800px;
}


.modal-content {
  background-color:var(--primary-bg-color);
}

.modal-content .note {
  color: var(--text-secondary-color)
}

.modal-content .add-btn {
  position: fixed;
  right: 10px;
  bottom: 66px
}

.modal-footer {
  background-color:var(--secondary-bg-color) !important;
}

.listview .row, .listview .input-field {
  margin-bottom: 0px;
}

.tabs, .tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: var(--primary-bg-color);
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: var(--alt-accent-color);
}

.tabs .tab a {
  color: var(--accent-color);
}

.tabs .indicator {
  background-color: var(--alt-accent-color)
}