<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traefik Admin Panel</title>
    <link rel="stylesheet" href="static/css/vendor/materialize.min.css">
    <link rel="stylesheet" href="static/css/traefik-admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app">
      <div class="navbar-fixed">
        <nav class="indigo darken-1">
          <div class="nav-wrapper" style="line-height:56px;">
            <a href="#" class="brand-logo">
              <img src="static/img/traefik-logo.png" height="auto" width="50px">
              Traefik Admin
            </a>
            
            <ul id="nav-mobile" class="right">
              <li class="hide-on-small-only">
              <div class="input-field col s6">
                <input placeholder="Filter configs" autocomplete="off" id="filterConfigs" type="text" v-on:keyup="applyFilter" v-model="filter_string">
              </div>
            </li>
              <li><a data-target="editModal" class="btn modal-trigger" v-bind:class="{pulse: connections.length==0}">New</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <main>
      <div class="">
      <div id="emptyMsg" class="white-text" v-if="connections.length == 0">
        <h5 class="center">looks empty here...</h5>
        <h6 class="center">add a new config by clicking on the flashing button</h6>
      </div>
      <div class="row" style="display:none" id="connectionList">
        <div class="proxycfg col s12 m4 l3" v-for="(con, index) in filter_view">
            <div class="card">
              <div class="card-content white-text">
                <span class="card-title">{{con.name}}</span>
                <p><a v-bind:href="'https://' + con.domain" target="_blank">{{con.domain}}</a></p>
                <p class="green-text">{{con.backend}}</p>
              </div>
              <div class="card-action">
                <a href="#" v-on:click="edit" v-bind:data-id="index">Edit</a>
                <a href="#" class="red-text" v-on:click="remove" v-bind:data-id="index">Remove</a>
              </div>
            </div>
        </div>
      </div>

    </div>
    <div id="editModal" class="modal white-text">
      <div class="modal-content ">
        <h5>Proxy Connection Details</h5>
        <div class="row"> <!-- Tabs Content-->
          <div class="col s12"> <!-- Tabs navigation-->
            <ul class="tabs">
              <li class="tab col s3"><a href="#general" class="active">General</a></li>
              <li class="tab col s3"><a href="#basicauth">Basic Auth</a></li>
              <li class="tab col s3"><a href="#headers">Headers</a></li>
            </ul>
          </div>
          <div id="general">
        <form class="col s12 m12">
          <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" autocomplete="off" class="validate" v-model="editor.name" v-bind:class="{invalid: modal_errors.Field.name != null || ''}">
                <label for="name" v-bind:class="{active: editorMode=='Update'}">Config Name</label>
                <span class="helper-text" v-bind:data-error="modal_errors.Field.name"></span>
            </div>
            <div class="input-field col s12 m6">
                <input id="domain" type="text" autocomplete="off" class="validate" v-model="editor.domain"  v-bind:class="{invalid: modal_errors.Field.domain != null || ''}">
                <label for="domain" v-bind:class="{active: editorMode=='Update'}">Domain</label>
                <span class="helper-text" v-bind:data-error="modal_errors.Field.domain"></span>
            </div>
            <div class="input-field col s12 m6">
                <input id="backend" type="text" autocomplete="off" class="validate" v-model="editor.backend"  v-bind:class="{invalid: modal_errors.Field.backend != null || ''}">
                <label for="backend" v-bind:class="{active: editorMode=='Update'}">Backend</label>
                <span class="helper-text" v-bind:data-error="modal_errors.Field.backend"></span>
            </div>
          </div>
          <div class="card">
            <div class="col m4 l4 s4">
              <div class="switch">
                <label>
                  <input type="checkbox" v-model="editor.https">
                  <span class="lever"></span>
                  SSL/TLS
                </label>
              </div>
            </div>
            <div class="col m4 l4 s4">
              <div class="switch">
                <label>
                  <input type="checkbox" v-model="editor.forcetls" v-bind:disabled="!editor.https">
                  <span class="lever"></span>
                  Forward http to https
                </label>
              </div>
            </div>
            <div class="col m4 l4 s4">
              <div class="switch">
                <label>
                  <input type="checkbox" v-model="editor.hsts" v-bind:disabled="!editor.https">
                  <span class="lever"></span>
                  Enable HSTS
                </label>
              </div>
            </div>
          </div>
          </form>
        </div> <!-- end of Tab general-->
        <div id="headers" class="listview">
          <div class="row">
          <form class="col s12 m12">
            <div class="row" v-for="(header,index) in editor.headers">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix" style="cursor:pointer" v-on:click="editor.headers.splice(index,1)">delete</i>
                <input v-bind:id="'headername'+index" type="text" autocomplete="off" v-model="header.Name">
                <label v-bind:for="'headername'+index" v-bind:class="{active: editorMode=='Update'}">Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input v-bind:id="'headervalue'+index" type="text" autocomplete="off" v-model="header.Value">
                <label v-bind:for="'headervalue'+index" v-bind:class="{active: editorMode=='Update'}">Value</label>
            </div>
            </div>
          </form>
        </div>
          <div class="row">
          <a class="btn-floating add-btn " v-on:click="addHeader"><i class="small material-icons">add</i></a>
          <div class="note">
            <p>Notes:</p>
            <ul>
              <li>Value $ServerIP is translated to traefiks ip</li>
            </ul>
          </div>
        </div>
        </div><!-- end of Tab headers-->
        <div id="basicauth" class="listview">
          <div class="row">
          <form class="col s12 m12">
            <div class="row" v-for="(entry,index) in editor.basicauth">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix" style="cursor:pointer" v-on:click="editor.basicauth.splice(index,1)">delete</i>
                <input v-bind:id="'basicuser'+index" type="text" autocomplete="off" v-model="entry.Username">
                <label v-bind:for="'basicuser'+index" v-bind:class="{active: editorMode=='Update'}">Username</label>
            </div>
            <div class="input-field col s12 m6">
                <input v-bind:id="'basicpass'+index" type="password" autocomplete="off" v-model="entry.Password">
                <label v-bind:for="'basicpass'+index" v-bind:class="{active: editorMode=='Update'}">Password</label>
            </div>
            </div>
          </form>
        </div>
          <div class="row">
          <a class="btn-floating add-btn " v-on:click="addBasicAuth"><i class="small material-icons">add</i></a>
          <div class="note">
            <p>Notes:</p>
            <ul>
              <li>Passwords are hashed using bcrypt</li>
            </ul>
          </div>
        </div>
        </div><!-- end of Tab headers-->
        </div><!-- end of Tabs -->
        <div class="row">
          <div class="col s12 m12 red-text" v-if="modal_errors.generic.length">
            <p>Errors:</p>
            <ul>
              <li v-for="err in modal_errors.generic">{{err}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
        <a href="#!" class="waves-effect waves-green btn-flat white-text" v-on:click="send('editModal')">{{editorMode}}</a>
      </div>
    </div>
    </main>
    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="left">
          &copy; 2020 Philipp Ritter
        </div>
      <div class="right">
      Made with ❤️, ☕ & <a href="https://materializecss.com/" target="_blank">Materialize</a>
      </div>
      </div>
    </footer>

  </div> <!-- end of app -->

    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/traefik-admin.js"></script>
    <script>
    </script>
</body>
</html>