<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traefik Admin Panel</title>
    <link rel="stylesheet" href="static/css/vendor/materialize.min.css">
    <link rel="stylesheet" href="static/css/traefik-admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app">
      <div class="navbar-fixed">
        <nav class="indigo darken-1">
          <div class="nav-wrapper" style="line-height:56px;">
            <a href="#" class="brand-logo">
              <img src="static/img/traefik-logo.png" height="auto" width="50px">
              Traefik Admin
            </a>
            
            <ul id="nav-mobile" class="right">
              <li class="hide-on-small-only">
              <div class="input-field col s6">
                <i class="material-icons prefix" style="top:0px;">search</i>
                <input placeholder="Filter configs" autocomplete="off" id="filterConfigs" type="text" v-on:keyup="applyFilter" v-model="filter_string">
              </div>
            </li>
              <li><a data-target="editModal" class="btn modal-trigger" v-bind:class="{pulse: connections.length==0}">New</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <main>
        <div style="height:4px;">
          <div id="loaderProgress" class="progress" style="margin:0 !important">
            <div class="indeterminate"></div>
          </div>
        </div>
      <div class="">
      <div id="emptyMsg" class="white-text" v-if="connections.length == 0">
        <h5 class="center">looks empty here...</h5>
        <h6 class="center">add a new config by clicking on the flashing button</h6>
      </div>
      <div class="row" style="display:none" id="connectionList">
        <div class="proxycfg col s12 m4 l3" v-for="(con, index) in filter_view">
            <div class="card">
              <div class="card-content white-text">
                <span class="card-title">{{con.name}}</span>
                  <p><a v-bind:href="'https://' + con.domain" target="_blank">{{con.domain}}</a></p>
                  <p class="green-text">{{con.backend}}</p>
              </div>
              <div class="card-action">
                <a href="#" v-on:click="edit" v-bind:data-id="index">Edit</a>
                <a href="#" class="red-text" v-on:click="remove" v-bind:data-id="con.id">Remove</a>
              </div>
            </div>
        </div>
      </div>

    </div>
    <div id="editModal" class="modal white-text modal-fixed-footer">
      <div class="modal-content no-scrollbar">
        <div class="modal-title">{{editor.name}}</div>
        <div class="row"> <!-- Tabs Content-->
          <div class="col s12 z-depth-2"> <!-- Tabs navigation-->
            <ul class="tabs">
              <li class="tab col s3"><a href="#general" class="active">General</a></li>
              <li class="tab col s3"><a href="#basicauth">Auth</a></li>
              <li class="tab col s3"><a href="#iprestrict">Allowed IP</a></li>
              <li class="tab col s3"><a href="#headers">Headers</a></li>
            </ul>
          </div>
          <div class="row tab-content">
          <div id="general">
            <form class="col s12 m12">
            <div class="row z-depth-1">
              <div class="section-title">Proxy</div>
              <div class="input-field col s12 m6">
                  <input id="name" type="text" autocomplete="off" class="validate" v-model="editor.name" v-bind:class="{invalid: validation.errors.name != ''}">
                  <label for="name" v-bind:class="{active: editorMode=='Update'}">Config Name</label>
                  <span class="helper-text" v-bind:data-error="validation.errors.name"></span>
              </div>
              <div class="input-field col s12 m6">
                  <input id="domain" type="text" autocomplete="off" class="validate" v-model="editor.domain"  v-bind:class="{invalid: validation.errors.domain != ''}">
                  <label for="domain" v-bind:class="{active: editorMode=='Update'}">Domain</label>
                  <span class="helper-text" v-bind:data-error="validation.errors.domain"></span>
              </div>
              <div class="input-field col s12 m6">
                <input id="backend" type="text" autocomplete="off" class="validate" v-model="editor.backend"  v-bind:class="{invalid: validation.errors.backend != ''}">
                <label for="backend" v-bind:class="{active: editorMode=='Update'}">Backend</label>
                <span class="helper-text" v-bind:data-error="validation.errors.backend"></span>

              </div>
            </div>
            <div class="row z-depth-1">
              <div class="section-title">Encryption</div>
              <div class="row" style="padding-top:10px;">
              <div class="col m4 l4 s4">
                <div class="switch">
                  <label>
                    <input type="checkbox" v-model="editor.https">
                    <span class="lever"></span>
                    SSL/TLS
                  </label>
                </div>
              </div>
              <div class="col m4 l4 s4">
                <div class="switch">
                  <label>
                    <input type="checkbox" v-model="editor.forcetls" v-bind:disabled="!editor.https">
                    <span class="lever"></span>
                    Forward http to https
                  </label>
                </div>
              </div>
              <div class="col m4 l4 s4">
                <div class="switch">
                  <label>
                    <input type="checkbox" v-model="editor.hsts" v-bind:disabled="!editor.https">
                    <span class="lever"></span>
                    Enable HSTS
                  </label>
                </div>
              </div>
            </div>
            </div>
            </form>
          </div> <!-- end of Tab general-->
          <div id="basicauth">
            <div class="row z-depth-1">
              <div class="section-title">Forward Auth</div>
              <div class="row" style="padding-top:10px;">
              <div class="col m4 s12">
                <div class="switch">
                  <label>
                    <input type="checkbox" v-model="editor.forwardauth" v-bind:disabled="!features.forwardauth.enabled">
                    <span class="lever"></span>
                    <span>{{editor.forwardauth ? 'Enabled' : 'Disabled'}}</span>
                  </label>
                  </div>
                </div>
                <div class="col m8 s12">
                  <span style="color:var(--text-secondary-color);">{{features.forwardauth.url}}</span>
                </div>
              </div> 
            </div>
            <div class="row z-depth-1" style="padding-top:15px;padding-bottom:15px;">
            <div class="section-title">Basic Auth</div>
            <form class="col s12 m12">
              <div class="row input" v-for="(entry,index) in editor.basicauth">
                <div class="input-field col s12 m6">
                  <input v-bind:id="'basicuser'+index" type="text" autocomplete="off" v-model="entry.Username" v-bind:class="{invalid: validation.errors.basicauth[index].username != ''}">
                  <label v-bind:for="'basicuser'+index" v-bind:class="{active: editorMode=='Update'}">Username</label>
                  <span class="helper-text" v-bind:data-error="validation.errors.basicauth[index].username"></span>
              </div>
              <div class="input-field col s12 m6">
                  <input v-bind:id="'basicpass'+index" type="password" autocomplete="off" v-model="entry.Password" v-bind:class="{invalid: validation.errors.basicauth[index].password != ''}">
                  <label v-bind:for="'basicpass'+index" v-bind:class="{active: editorMode=='Update'}">Password</label>
                  <span class="helper-text" v-bind:data-error="validation.errors.basicauth[index].password"></span>
              </div>
              </div>
            </form>
          </div>
          </div><!-- end of Tab basicauth-->
        <div id="iprestrict">
          <div class="row z-depth-1" style="padding-bottom:8px;">
            <div class="section-title">Reverse Proxy instances</div>
            <div class="input-field col s12 m3">
              <i class="material-icons prefix">format_list_numbered</i>
              <input id="ipRestrictionDepth" type="text" autocomplete="off" v-model.number="editor.ipRestriction.depth">
            </div>
            <div class="col s12 m9" style="line-height:65px;">
              <span>Number of reverse proxy in front of this one</span>
            </div>
          </div>
          <div class="row z-depth-1" style="padding-bottom:0px;">
          <div class="section-title">Allowed IPs / Nets</div>
          <form class="col s12 m12">
            <div class="row" >
              <div class="input-field col s12 m8" v-for="(entry,index) in editor.ipRestriction.ips">
                <input v-bind:id="'ipRestriction'+index" type="text" autocomplete="off" v-model="editor.ipRestriction.ips[index]" v-bind:class="{invalid: validation.errors.allowedip.ip[index] != ''}">
                <label v-bind:for="'ipRestriction'+index" v-bind:class="{active: editorMode=='Update'}">IP / CIDR</label>
                <span class="helper-text" v-bind:data-error="validation.errors.allowedip.ip[index]"></span>
              </div>
            </div>
          </form>
        </div>
        </div><!-- end of Tab iprestrict-->
        <div id="headers">
          <div class="row z-depth-1" style="padding-bottom:15px;">
          <div class="section-title">Custom Headers</div>
          <form class="col s12 m12">
            <div class="row input" v-for="(header,index) in editor.headers">
              <div class="input-field col s12 m6">
                <input v-bind:id="'headername'+index" type="text" autocomplete="off" v-model="header.Name" v-bind:class="{invalid: validation.errors.headers[index].name != ''}">
                <label v-bind:for="'headername'+index" v-bind:class="{active: editorMode=='Update'}">Name</label>
                <span class="helper-text" v-bind:data-error="validation.errors.headers[index].name"></span>
            </div>
            <div class="input-field col s12 m6">
                <input v-bind:id="'headervalue'+index" type="text" autocomplete="off" v-model="header.Value" v-bind:class="{invalid: validation.errors.headers[index].value != ''}">
                <label v-bind:for="'headervalue'+index" v-bind:class="{active: editorMode=='Update'}">Value</label>
                <span class="helper-text" v-bind:data-error="validation.errors.headers[index].value"></span>
            </div>
            </div>
          </form>
        </div>
        </div><!-- end of Tab headers-->
        </div><!-- end of row tab content-->
        </div><!-- end of Tabs -->
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
        <a href="#!" class="waves-effect waves-green btn-flat white-text" v-on:click="send('editModal')">{{editorMode}}</a>
      </div>
    </div>
    <div id="confirmModal" class="modal white-text modal-fixed-footer">
      <div class="modal-content">
        <h4>{{confirmDialog.title}}</h4>
        <p class="confirm-text">{{confirmDialog.text}}</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat red-text" v-on:click="confirmDialog.onYes">Yes</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text" v-on:click="confirmDialog.onNo">No</a>
      </div>
    </div>
    </main>
    <footer class="page-footer grey darken-4">
      <div class="container">
      <div class="row" style="margin-bottom:0px;line-height:50px;">
        <div class="col m4">
          &copy; {{copyright}}
        </div>
        <div class="col m4" style="font-size:0.8rem;">
          Version: {{features.version}}
        </div>
      <div class="col m4">
      Made with ❤️, ☕ & <a href="https://materializecss.com/" target="_blank">Materialize</a>
      </div>
      </div>
    </div>
    </footer>

  </div> <!-- end of app -->

    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/vue.min.js"></script>
    <script src="static/js/traefik-admin.js"></script>
    <script>
    </script>
</body>
</html>